* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#the_whole_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mt-navbar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

#Container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.342);
    border-radius: 15px;
    padding: 70px 50px 70px 50px;
    width: 700px;
    gap: 20px;
    border: 1px solid #ddd;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: start;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    align-self: flex-start;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    padding: 12px;
    width: 70%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.02);
}
